    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg hero_uno_container" data-setbg="img/products/214141273-ed428493-189d-4cbd-acae-62fdb064de1b.jpeg">
                <!--div class="container hero_uno">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h2>Skin care 101 - Let the process begin</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
            <div class="hero__items set-bg hero_dos_container" data-setbg="img/products/Menskincare1.jpeg">
                <div class="container hero_dos">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <!--h6>Summer Collection</h6-->
                                <h2>Deluxe Natural Hair Alchemy Kit</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <!--div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg hero_tres_container" data-setbg="https://cdn.shopify.com/s/files/1/0648/1955/files/Main_7c5d8314-ef8b-48cd-a0a9-88ab54039f41.jpg?v=1578294928">
                <div class="container hero_tres">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <!--h6>Summer Collection</h6-->
                                <h2>Deluxe Natural Hair Alchemy Kit</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <!--div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg hero_quatro_container" data-setbg="https://www.arganisch.nl/wp-content/uploads/2020/07/shutterstock_1055004053-scaled.jpg">
                <div class="container hero_quatro">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <!--h6>Summer Collection</h6-->
                                <h2>Deluxe Natural Hair Alchemy Kit</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <!--div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



<div class='slidingcover'>
<div class='row  justify-content-center slidingwrap pt-lg-5 pb-lg-5'>
    <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 margin-top-15'>
        <div class='row'><h1><div class='slidingspan'>
            <h1>gentle</h1>
            <h1>formulas</h1>
            <h1>for the</h1>
            <h1>skin & earth</h1></div></h1>
        </div>
    </div>
    <div class='col-lg-5 col-md-6 d-sm-none d-md-block col-xs-12'>
        <div class='slidingcontainer'>
            <div class='slidingbg'></div>  
        </div>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12  align-self-center'>
        <div class='row blackbox'>
            <div class='slidingspan'>
                <h3>herbal skin & body care</h3>
                <span>Harmonic infusion of traditional herbalist based approaches and results driven scientific advancements. Where the core focus is promoting skin barrier homeostasis. A gentle approach that encourages a healthy skin biome, acid mantle and lipid barrier.</span>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    
</div>

<div class='slidingcover'>
<div class='row justify-content-center slidingwrap pt-lg-5 pb-lg-5'>
    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
        <div class='slidingcontainer'>
            <div class='slidingbg1'></div>  
        </div>
    </div>
    <div class='row col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-15'>
        <div class='row'><h1><div class='slidingspan'>
            <h1>ingredients harvested sustainably and regionally sourced</h1></div></h1>
        </div>
        <span class='slidingspan align-self-end'>
            <h3>live beautiful</h3>
            <h6>"...founder (and trained herbalist) Carolyn McRory uses ingredients that are both harvested sustainably and locally produced... sure to attract fans and self-care devotees with its gorgeously-textured balms, creams, oils, and sprays."</h6>
            <h6 class='text-right'>~ Allure Magazine</h6>
        </span>
    </div>
</div>
</div>

    <section class="banner spad">
        <div class="container explore">
            <h1><span>EXPLORE PRODUCTS</span></h1>
            <div class="gf_separator" data-align="left" data-exc=""><hr class=""></div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/products/Argile1.jpeg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <a class="gf_btn gf_button" href="/collections/skin-care" target="" data-exc="" style="padding-top: 0px; padding-bottom: 0px;"><span>SHOP SKINCARE</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/hair.webp" alt="">
                        </div>
                        <div class="banner__item__text">
                            <a class="gf_btn gf_button" href="/collections/skin-care" target="" data-exc="" style="padding-top: 0px; padding-bottom: 0px;"><span>SHOP HAIRCARE</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/products/iStock-183410603.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <a class="gf_btn gf_button" href="/collections/skin-care" target="" data-exc="" style="padding-top: 0px; padding-bottom: 0px;"><span>SHOP BODYCARE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class='col-lg-12 col-md-6 d-sm-none d-md-block col-xs-12 passage'>
        <div class='slidingcontainer1'>
            <div class='slidingbg2'></div>  
        </div>
</div>

 
<section class="product spad">
    <div class="container featureds">
        <h1><span>FEATURED PRODUCTS</span></h1>
        <div class="row product__filter">
            <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix shop_product" product_id="1">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style='background-image: url("img/products/n.jpg")'>

                    </div>
                    <div class="product__item__text">
                        <h6>SESAME OIL</h6>
                        <a href="#" class="add-cart" product_id=1>+ ADD TO DART</a>

                        <h5>$67.24</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix shop_product" product_id="10">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style='background-image: url("img/products/p.jpg")'>

                    </div>
                    <div class="product__item__text">
                        <h6>MOROCCAN BLACK SOAP : ORANGE FLOWER EXTRACT</h6>
                        <a href="#" class="add-cart" product_id=10>+ ADD TO DART</a>

                        <h5>$52.24</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix shop_product" product_id="18">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" style='background-image: url("img/products/r.jpg")'>

                    </div>
                    <div class="product__item__text">
                        <h6>HAIR CARE SERUM</h6>
                        <a href="#" class="add-cart" product_id=18>+ ADD TO DART</a>

                        <h5>$43.48</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    $(".shop_product").click(function(e){

        loadProductPage($(this).attr('product_id'));

    });
</script>

