<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Organica store">
    <meta name="keywords" content="Organica, Beauty">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Organica</title>
    <link rel="icon" href="img/minilogo.png" type="image/icon type">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Serif:ital,wght@0,200;1,200&family=Karla:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Serif:ital,wght@0,200;1,200&family=Karla:wght@500&display=swap" rel="stylesheet"> 
    <!-- Css Styles -->
    <link rel="stylesheet" type="text/css" href="/media/css/main.css">
    <link rel="stylesheet" type="text/css" href="/media/css/util.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/media/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/media/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/media/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/style.css" type="text/css">
    <link rel="stylesheet" href="/media/css/main.scss.css" type="text/css">
    <link rel="stylesheet" href="/media/css/chatroom.css">
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
    <link data-instant-track="" class="gf_fonts" data-fonts="Alegreya" href="//fonts.googleapis.com/css?family=Alegreya" rel="stylesheet" type="text/css"> 
    
    <link rel="stylesheet" href="/media/css/nice-select.css" type="text/css">

    <link rel="stylesheet" type="text/css" href="/media/vendor/animate/animate.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="/media/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/media/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/media/vendor/select2/select2.min.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="/media/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/media/vendor/slick/slick.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/media/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->

</head>

<body>
    <div id="chat-boat" class='withshort'>
        <div class="chat-container"></div>
    </div>
    <img id="assistant" class="assistanthu" src="img/assistanth.png">
    <script src="/media/js/chatroom.js"/></script>
    <script type="text/javascript">
        var chatroom = new window.Chatroom({
          host: "http://161.35.214.102:5005",
          title: "Organica's AI assistant",
          container: document.querySelector(".chat-container"),
          welcomeMessage: "Hello there !",
          speechRecognition: "en-US"
        });
        chatroom.openChat();
    </script>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



<div class='cartVeil'></div>

<div class='mfp-container' >

<div class='cartContainer'>

<div class="ajaxcart-draw js-cart-draw">
    <button class='closeCart'>X</button>
        <div class="ajaxcart-draw__wrapper js-cart-draw-inner"> 
            <div class="ajaxcart-draw__scroll">
                <div class="ajaxcart__head">
                    <div class="ajaxcart__label">
                        <h3 class="ajaxcart__label-title">Shopping Cart</h3>
                    </div>
                </div>  
                <div id="CartContainer">

    <form action="https://ulghec.eu.qualtrics.com/jfe/form/SV_a4du0wKlaXzDCMS" method="post" novalidate="" class="cart ajaxcart__form">
        <div class="ajaxcart__inner">
            <div class="ajaxcart__products">


            </div>


        </div>
      
        <div class="ajaxcart__footer">
            <div class="o-layout o-layout--tiny o-layout--reverse"> 
                <div class="o-layout__item u-1/1 u-1/3@tab">
                    <p class="ajaxcart__footer-total">Subtotal : <span id="total_price">0</span><span class="money">€</span></p>
                </div>
                <div class="o-layout__item u-1/1 u-2/3@tab">
                    <p class="ajaxcart__footer-message">Shipping &amp; taxes calculated at checkout</p>
                </div>
            </div>
        </div>

        <div class="ajaxcart__button">
            
            <div class="o-layout o-layout--tiny o-layout--reverse"> 
                <div class="o-layout__item u-1/1 u-1/2@tab">
            
                    <button type="submit" class="c-btn c-btn--full c-btn--primary c-btn--arrow ajaxcart__checkout" name="checkout">TAKE ME TO QUESTIONNAIRE</button>  
            
                </div>
                <div class="o-layout__item u-1/1 u-1/2@tab">
                    <a class="c-btn c-btn--full c-btn--light js-close-mfp ajaxcart__continue continueCart">Continue shopping</a>
                </div>
            </div>
            
        </div>
    </form>

</div>
                <div id="EmptyCart" style="display: none;">
                    <div class="ajaxcart-empty">
                        <h5 class="ajaxcart-empty__title">Your cart is currently empty.</h5>
                        <span class="emoji ajaxcart-empty__emoji">
                            <i class="icon icon--sad"></i>
                        </span>
                        <a href="/collections/all" class="c-btn c-btn--primary c-btn--full">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>


<nav >
    <div class='text-center' >
    <a href="/organica22">
    <img id="topLogo" src="img/logo.png" alt="">
    </a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="topmenu">
<div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Our products </a>
                <div class="dropdown-menu megamenu" role="menu">
                    <div class="row  justify-content-center">
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 >Our products</h3>
                                    
                                    <ul class="subnav">
                                        <li class="subnav-item" onclick="loadShop('all','','');">
                                            shop all
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('category',1,'Hair','hair');">
                                            Hair
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('category',2,'Body','skin');">
                                            Body
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('category',0,'Skin','skin');">
                                            Skin
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-sm-block">
                            <img src="img/products/thefutureofcleanbeauty-intext-2.jpeg" class="img-fluid mb-3" alt="test image">
                        </div>
                    </div>
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> By skin concern </a>
                <div class="dropdown-menu megamenu" role="menu">
                    <div class="row  justify-content-center">
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 >By skin concern </h3>
                                    
                                    <ul class="subnav">
                                        <li class="subnav-item" onclick="loadShop('concern',0,'Aging & Fine lines');">
                                            Aging & Fine lines
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('concern',1,'Uneven tone & texture');">
                                            Uneven tone & texture
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('concern',2,'Blemish and breakouts');">
                                            Blemish and breakouts
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-sm-block">
                            <img src="img/products/GettyImages-135233782-56f0d0555f9b5867a1c64327.jpeg" class="img-fluid mb-3" alt="test image">
                        </div>
                    </div>
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> By hair concern </a>
                <div class="dropdown-menu megamenu" role="menu">
                    <div class="row  justify-content-center">
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 >By hair concern </h3>
                                    
                                    <ul class="subnav">
                                        <li class="subnav-item" onclick="loadShop('concern',3,'Hair loss & Hair thinning');">
                                            Hair loss & Hair thinning
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('concern',4,'Dryness');">
                                            Dryness
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('concern',5,'Oiliness');">
                                            Oiliness
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('concern',6,'Dehydration');">
                                            Dehydration
                                        </li>
                                        <li class="subnav-item" onclick="loadShop('concern',7,'Dandruff & itchy scalp');">
                                            Dandruff & itchy scalp
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-sm-block">
                            <img src="https://www.hairfinder.com/tips/man-hair-coloring.jpg" class="img-fluid mb-3" alt="test image">
                        </div>
                    </div>
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Categories  </a>
                <div class="dropdown-menu megamenu" role="menu">
                    <div class="row  justify-content-center">
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 >Categories</h3>
                                    
                                    <ul class="subnav">
                                        <li class="subnav-item text-wrap" onclick="loadShop('type',0,'Cleansers & Exfoliants');">
                                            Cleansers & Exfoliants
                                        </li>
                                        <li class="subnav-item text-wrap" onclick="loadShop('type',1,'Serums & Oils');">
                                            Serums & Oils
                                        </li>
                                        <li class="subnav-item text-wrap" onclick="loadShop('type',2,'Masks');">
                                            Masks
                                        </li>
                                        <li class="subnav-item text-wrap" onclick="loadShop('type',3,'Bath');">
                                            Bath 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-sm-block">
                            <img src="https://my.datasphere.com/files/mydatasphere/styles/ls1650/public/1530654093_GettyImages-682257672.jpg" class="img-fluid mb-3" alt="test image">
                        </div>
                    </div>
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <li class="nav-item"><a class="nav-link pointer-hover" href="story"> Our story </a></li>
            <li class="nav-item"><a class="nav-link pointer-hover" href="faq"> FAQ </a></li>


        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item d-inline-block p-l-20"><img class='js-show-search' id="search" src="img/icon/search.png" alt=""></li>
            <li class="nav-item d-inline-block p-l-20"><img id="cart" src="img/icon/cart.png" alt=""></li>
        </ul>
    </div> <!-- navbar-collapse.// -->
</div> <!-- container-fluid.// -->
</nav>



    <!-- Header Section End -->

<div class="dis-none panel-search w-full p-t-10 p-b-15 col-md-11 mx-auto">
    <div class="bor8 dis-flex p-l-15">
        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
            <i class="zmdi zmdi-search"></i>
        </button>

        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search" id="searchBar">
    </div>  
</div>

<input hidden id="crit_value">

<div id="page_content">

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">

            <div class="hero__items hero_tres_container">
            <div class="set-bg hero_bg" data-setbg="https://cdn.shopify.com/s/files/1/0648/1955/files/Main_7c5d8314-ef8b-48cd-a0a9-88ab54039f41.jpg?v=1578294928">
            </div>
                <div class="col-xl-4 col-lg-4 col-md-4 hero_text hero_tres hero_container">
                    <div class="hero__text">
                        <!--h6>Summer Collection</h6-->
                        <h2>It's time to feel good about what you’re putting on and into your skin</h2>
                        <p> A safe skincare collection that contains only natural, sustainably harvested and plant-derived ingredients.</p>
                        <a class="primary-btn" onclick="loadShop('all','','');">Shop now <span class="arrow_right"></span></a>
                        <!--div class="hero__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div-->
                    </div>
                </div>
            
            </div>


            <!--div class="hero__items set-bg hero_uno_container" data-setbg="img/products/214141273-ed428493-189d-4cbd-acae-62fdb064de1b.jpeg">
                <div class="container hero_uno">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h2>Skin care 101 - Let the process begin</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            <div class='hero__items hero_dos_container'>
            <div class="set-bg hero_bg" data-setbg="img/products/Menskincare1.jpeg">
            </div>
                <div class="container hero_dos hero_container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 hero_text">
                            <div class="hero__text">
                                <!--h6>Summer Collection</h6-->
                                <h2>Less is truly more</h2>
                                <p>Our skin does not need specialised remedies for each part of the body. We prefer to use less, but instead only natural remedies which are applied regularly. </p>
                                <a class="primary-btn" onclick="loadShop('all','','');">Shop now <span class="arrow_right"></span></a>
                                <!--div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="hero__items hero_quatro_container">
            <div class="set-bg hero_bg" data-setbg="https://www.arganisch.nl/wp-content/uploads/2020/07/shutterstock_1055004053-scaled.jpg">
            </div>
                <div class="container hero_quatro hero_container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 hero_text">
                            <div class="hero__text">
                                <!--h6>Summer Collection</h6-->
                                <h2>This year is the time to get that perfect groomed beard naturally</h2>
                                <p>Complete your routine with natural soaps, oils, shampoos, and conditioners.</p>
                                <a class="primary-btn" onclick="loadShop('all','','');">Shop now <span class="arrow_right"></span></a>
                                <!--div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->



<div class='slidingcover'>
<div class='row  justify-content-center slidingwrap pt-lg-5 pb-lg-5'>
    <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 margin-top-15'>
        <div class='row'><h1><div class='slidingspan'>
            <h1>gentle</h1>
            <h1>formulas</h1>
            <h1>for the</h1>
            <h1>skin & earth</h1></div></h1>
        </div>
    </div>
    <div class='col-lg-5 col-md-6 d-sm-none d-md-block col-xs-12'>
        <div class='slidingcontainer'>
            <div class='slidingbg'></div>  
        </div>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12  align-self-center'>
        <div class='row blackbox'>
            <div class='slidingspan'>
                <h3>Gender-inclusive products for everyone</h3>
                <span>Nature's wisdom offers hardworking, multipurpose body care products that nourish your skin and hair and simplify your routine. Using nature's most restorative and nourishing ingredients, we've got something for everyone. From the acne-prone skincare sets to the pregnancy-safe products, with only organic and wildcrafted ingredients.</span>
            </div>
        </div>
    </div>
</div>
</div>

<div class='slidingcover'>
<div class='row justify-content-center slidingwrap pt-lg-5 pb-lg-5'>
    <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
        <div class='slidingcontainer'>
            <div class='slidingbg1'></div>  
        </div>
    </div>
    <div class='row col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-15'>
        <div class='row'><h1><div class='slidingspan'>
            <h1>ingredients harvested sustainably and regionally sourced</h1></div></h1>
        </div>
        <span class='slidingspan align-self-end'>
            <h3>Our philosophy</h3>
            <h6>Beauty itself is not the goal but only accompanies a healthy and happy life. Pursuing a simpler and healthier lifestyle from the inside out is our number one goal. Health, an inner balance of positive energy, shines to the outside, creates more beauty than any amount of care products. We support this philosophy and view the role of cosmetics not as a primary creator but merely as a supplement of beauty.</h6>
        </span>
    </div>
</div>
</div>

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container explore">
            <h1><span>EXPLORE PRODUCTS</span></h1>
            <div class="gf_separator" data-align="left" data-exc=""><hr class=""></div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 pointer-hover" onclick="loadShop('category',0,'Skin');">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/products/Argile1.jpeg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <a class="gf_btn gf_button" target="" data-exc="" style="padding-top: 0px; padding-bottom: 0px;"><span>SHOP SKINCARE</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 pointer-hover" onclick="loadShop('category',1,'Hair');">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/hair.webp" alt="">
                        </div>
                        <div class="banner__item__text">
                            <a class="gf_btn gf_button" target="" data-exc="" style="padding-top: 0px; padding-bottom: 0px;"><span>SHOP HAIRCARE</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm- pointer-hover" onclick="loadShop('category',2,'Body');">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/products/iStock-183410603.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <a class="gf_btn gf_button" target="" data-exc="" style="padding-top: 0px; padding-bottom: 0px;"><span>SHOP BODYCARE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class='col-lg-12 col-md-12 d-sm-none d-md-block col-xs-12 passage'>
        <div class='slidingcontainer1'>
            <div class='slidingbg2'></div>  
        </div>
</div>

    <!-- Banner Section End -->

        <!--section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__text">
                        <h2>Our story</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet orci ut venenatis efficitur. Aliquam non molestie massa. Phasellus at semper ipsum. Sed vitae sapien ipsum. In leo sem, eleifend ut aliquam et, convallis vitae lacus. Fusce tristique urna at lobortis fermentum. Nullam aliquet lorem non nibh suscipit tincidunt. Curabitur consequat tincidunt urna, nec viverra lacus gravida id. Vivamus consectetur nisi erat, ut pretium nisl finibus in. Donec non libero nec odio maximus ullamcorper non ut lacus. Proin ante enim, euismod in dolor id, ornare cursus risus. </p>
                        <h3>#Organica</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <img src="img/instagram/arganwoman.jpg">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </section-->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container featureds">
            <!--div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul>
                </div>
            </div-->
            <h1><span>FEATURED PRODUCTS</span></h1>
            <div class="row product__filter">
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix shop_product" product_id="1">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/products/n.jpg">
                            <!--span class="label">New</span-->
                            <!--ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul-->
                        </div>
                        <div class="product__item__text">
                            <h6>SESAME OIL</h6>
                            <a class="add-cart" product_id=1>+ ADD TO BAG</a>
                            <!--div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div-->
                            <h5>6€</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix shop_product" product_id="10">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/products/p.jpg">
                            <!--ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul-->
                        </div>
                        <div class="product__item__text">
                            <h6>MOROCCAN BLACK SOAP : ORANGE FLOWER EXTRACT</h6>
                            <a class="add-cart" product_id=10>+ ADD TO BAG</a>

                            <h5>6€</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix shop_product" product_id="18">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="img/products/r.jpg">
                            <!--span class="label">Sale</span-->
                            <!--ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul-->
                        </div>
                        <div class="product__item__text">
                            <h6>HAIR CARE SERUM</h6>
                            <a class="add-cart" product_id=18>+ ADD TO BAG</a>
 
                            <h5>25€</h5>
                        </div>
                    </div>
                </div>
                <!--div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/product-4.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Diagonal Textured Cap</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$60.9</h5>
                            <div class="product__color__select">
                                <label for="pc-10">
                                    <input type="radio" id="pc-10">
                                </label>
                                <label class="active black" for="pc-11">
                                    <input type="radio" id="pc-11">
                                </label>
                                <label class="grey" for="pc-12">
                                    <input type="radio" id="pc-12">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/product-5.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Lether Backpack</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$31.37</h5>
                            <div class="product__color__select">
                                <label for="pc-13">
                                    <input type="radio" id="pc-13">
                                </label>
                                <label class="active black" for="pc-14">
                                    <input type="radio" id="pc-14">
                                </label>
                                <label class="grey" for="pc-15">
                                    <input type="radio" id="pc-15">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="img/product/product-6.jpg">
                            <span class="label">Sale</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Ankle Boots</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$98.49</h5>
                            <div class="product__color__select">
                                <label for="pc-16">
                                    <input type="radio" id="pc-16">
                                </label>
                                <label class="active black" for="pc-17">
                                    <input type="radio" id="pc-17">
                                </label>
                                <label class="grey" for="pc-18">
                                    <input type="radio" id="pc-18">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/product-7.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>T-shirt Contrast Pocket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$49.66</h5>
                            <div class="product__color__select">
                                <label for="pc-19">
                                    <input type="radio" id="pc-19">
                                </label>
                                <label class="active black" for="pc-20">
                                    <input type="radio" id="pc-20">
                                </label>
                                <label class="grey" for="pc-21">
                                    <input type="radio" id="pc-21">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/product-8.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Basic Flowing Scarf</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$26.28</h5>
                            <div class="product__color__select">
                                <label for="pc-22">
                                    <input type="radio" id="pc-22">
                                </label>
                                <label class="active black" for="pc-23">
                                    <input type="radio" id="pc-23">
                                </label>
                                <label class="grey" for="pc-24">
                                    <input type="radio" id="pc-24">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            </div>
        </div>
    </section>
</div>


    <footer role="contentinfo" id="footer" class="footer footer--light">
    <div class="container">
        <div class="footer__content">
            <div class="o-layout">
                

                
                    
                    
                    
                    
                    
                        <div class="o-layout__item u-1/1 u-1/2@tab u-1/4@desk">
                            <div class="footer-nav footer-nav--image">
                                   
                                <img class="footer-nav__image-img js lazyautosizes lazyloaded" src="img/footer-logo.png" data-widths="[180, 360, 540, 720]" data-sizes="auto" alt="" style="max-width: 250px">                            
                                
                            </div>
                        </div>                    
                    
                        <div class="o-layout__item u-1/1 u-1/2@tab u-1/4@desk">
                            <div class="footer-nav">
                                
                                    <h4 class="footer-nav__title h5">Contact</h4>
                                
                                
                                    <p class="footer-nav__text"><a href="mailto:hello@organica.com" class="footer-nav__text-link">hello@organica.com</a></p>
                                
                                
                                
                                
                                    <div class="footer-nav__social-wrapper">
                                        <ul class="footer-nav__social-items o-list-bare">
      
                                        </ul>
                                    </div>
                                

                            </div>
                        </div>
                    
                    
                    
                    
                    
                
                    
                    
                    
                        <div class="o-layout__item u-1/1 u-1/2@tab u-1/4@desk">
                            <div class="footer-nav">
                                
                                    <h4 class="footer-nav__title h5">Location</h4>
                                
                                
                                    <div class="footer-nav__text rte">
                                        <p></p><p>The Organica studio is located in<br>  Marrakech, Morocco.</p>
                                    </div>
                                
                            </div>
                        </div>
                    
                    
                    
                    
                
                    
                        
                            <div class="o-layout__item u-1/1 u-1/2@tab u-1/4@desk">
                                <div class="footer-nav">
                                    <h4 class="footer-nav__title h5">Resources</h4>
                                    <ul class="footer-nav__items o-list-bare">
                                        
                                            <li class="footer-nav__item"><a href="/pages/policies" class="footer-nav__link">Policies &amp; Help</a></li>
                                        
                                            <li class="footer-nav__item"><a href="/pages/wholesale-inquiries-waitlist" class="footer-nav__link">Wholesale Inquiries</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        
                    
                    
                    
                    
                    
                    
                
            </div>

            <div class="footer-copyright">
                <p class="footer-copyright__text">
                    <span class="footer-copyright__span footer-copyright__span--shop">© 2021, Organica</span>
                    
                </p>
            </div>

        </div>
    </div>

    
        <div class="footer__bottom">
            <div class="container">
                

                
                    <div class="footer__icons footer__bottom-item">
                        
<ul class="footer__icons-items o-list-bare">
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--american_express" aria-hidden="true"></i>
                                        </li>
                                    
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--diners_club" aria-hidden="true"></i>
                                        </li>
                                    
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--discover" aria-hidden="true"></i>
                                        </li>
                                    
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--jcb" aria-hidden="true"></i>
                                        </li>
                                    
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--master" aria-hidden="true"></i>
                                        </li>
                                    
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--paypal" aria-hidden="true"></i>
                                        </li>
                                    
                                
                                    
                                
                                    
                                        <li class="footer__icons-item">
                                            <i class="icon icon--visa" aria-hidden="true"></i>
                                        </li>
                                    
                                
                            </ul>                  
                        
                    </div>
                
            </div>
        </div>
    
</footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script type="text/javascript">
        var token = '{{csrf_token}}';
    </script>
    <script src="/media/js/jquery-3.3.1.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/jquery.nice-select.min.js"></script>
    <script src="/media/js/jquery.nicescroll.min.js"></script>
    <script src="/media/js/jquery.magnific-popup.min.js"></script>
    <script src="/media/js/jquery.countdown.min.js"></script>
    <script src="/media/js/jquery.slicknav.js"></script>
    <script src="/media/js/mixitup.min.js"></script>
    <script src="/media/js/owl.carousel.min.js"></script>
    <script src="/media/js/main.js"></script>
    <script src="/media/vendor/animsition/js/animsition.min.js"></script>
    <script src="/media/js/main1.js"></script>
    
    <!-- Hover Intent Js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.9.0/jquery.hoverIntent.min.js'></script>
    <!-- Lodash Js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/media/js/data.js"></script>
    <script src="/media/js/cartbuttons.js"></script>
    <script src="/media/js/cart.js"></script>
    <script src="/media/js/customJS.js"></script>
    <script src="/media/js/navigation.js"></script>
    <script type="text/javascript">
        $(".shop_product").click(function(e){

            loadProductPage($(this).attr('product_id'));

        });
    </script>
    <script src="/media/js/botInteractions.js"></script>

</body>

</html>
